<!DOCTYPE html>
<html lang="en">

<head>
    <% include partialviews/header.ejs %>
</head>
<style>
    canvas {
        background-color: #c3c3c3;
        width: 300;
        height: 300;
        border: 1px solid blue;
        cursor: crosshair;
    }
</style>

<body>
    <div class="container">
        <div class="bs-example">
            <div class="page-header">
                <h1>Welcome
                    <%= username %>
                </h1>
                <small><%= title %></small>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">board</h3>
                </div>
                <div class="panel-body">
                    <div id="adcontainer" style="overflow:hidden;text-align:left;">
                        <h4 style="padding:0 10px; margin: 1px 0;">Choose pen color</h4>
                        <p>
                            <button type="button" onclick="SetStrokeStyle('#DDDDDD')" class="btn"></button>
                            <button type="button" onclick="SetStrokeStyle('#286090')" class="btn btn-primary"></button>
                            <button type="button" onclick="SetStrokeStyle('#449D44')" class="btn btn-success"></button>
                            <button type="button" onclick="SetStrokeStyle('#31B0D5')" class="btn btn-info"></button>
                            <button type="button" onclick="SetStrokeStyle('#EC971F')" class="btn btn-warning"></button>
                            <button type="button" onclick="SetStrokeStyle('#C9302C')" class="btn btn-danger"></button>

                            <button id="share" onclick="Share()" class="btn btn-danger">Share</button>
                        </p>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-8">
                            <label for="username">Enter your name:</label>
                            <div class="input-group">
                                <input type="text" id="chatMessage" class="form-control">
                                <span class="input-group-btn">
                                  <button class="btn btn-primary" onclick="Send()" type="button">Go!</button>
                                </span>
                            </div>
                        </div>
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Connected Users</h3>
                                </div>
                                <div class="panel-body">
                                    <ul id="connectedUsers">
                                      
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <canvas id="myCanvas">
        Your browser does not support the canvas element.
    </canvas>
    <% include partialviews/scripts.ejs %>

</body>

</html>