<!DOCTYPE html>
<html lang="en">

<head>
    <% include partialviews/header.ejs %>
</head>
<style>
    canvas {
        background-color: #c3c3c3;
        width: 100%;
        height: 50%;
        border: 1px solid blue;
    }
</style>

<body>
    <div class="container">
        <div class="bs-example">
            <div class="page-header">
                <h1>Welcome
                    <%= username %>
                </h1>
                <small><%= title %></small>
            </div>
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3 class="panel-title">board</h3>
                </div>
                <div class="panel-body">
                    <div id="adcontainer" style="overflow:hidden;text-align:left;">
                        <h4 style="padding:0 10px; margin: 1px 0;">Choose pen color</h4>
                        <p>
                            <button type="button" onclick="SetColor('#DDDDDD')" class="btn"></button>
                            <button type="button" onclick="SetColor('#286090')" class="btn btn-primary"></button>
                            <button type="button" onclick="SetColor('#449D44')" class="btn btn-success"></button>
                            <button type="button" onclick="SetColor('#31B0D5')" class="btn btn-info"></button>
                            <button type="button" onclick="SetColor('#EC971F')" class="btn btn-warning"></button>
                            <button type="button" onclick="SetColor('#C9302C')" class="btn btn-danger"></button>
                        </p>
                        </a>
                    </div>
                    <div class="row">
                        <div class="col-sm-3 col-md-6 col-lg-8">
                            <canvas id="myCanvas">
                                Your browser does not support the canvas element.
                            </canvas>
                        </div>
                        <div class="col-sm-3 col-md-6 col-lg-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    <h3 class="panel-title">Connected Users</h3>
                                </div>
                                <div class="panel-body"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        Hello
        <button id="share" onclick="Share()">Share</button><br/> Joined Users
        <div>
            <ul id="joinedUsers">
            </ul>
        </div>

        Type ur message:<br/>
        <input type="text" id="chatMessage">

        </textarea>
        <button id="send" onclick="Send()">Send</button><br/>
        <% include partialviews/scripts.ejs %>


        <script>
            var socket = io();
            var host = "ffff";
            socket.on('message-from-server', function (data) {
                document.getElementById('chatMessage').value = data.message;

                // socket.emit('message-from-client', {
                //     message: "Hello from client"
                // });
            });

            socket.on("host-name", function (data) {
                host = data.hostName + "//dsdsdsd";
            })

            function Share() {
                alert(host)
            }

            function Send() {
                socket.emit('message-from-client', {
                    message: document.getElementById('chatMessage').value
                });
            };
        </script>
</body>

</html>